<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<form action="/fileSave" method="post" enctype="multipart/form-data">
    <input type="file" name="boardFile" id="aa" multiple>
<!--    <input type="text" name="aa" id="chang">-->
    <input type="submit" value="버튼">
</form>
</body>
<script>
    // function a () {
    //     const fileTypes2 = ['image/gif', 'image/jpeg', 'image/png','video/mp4'];
    //     const fileTypes3 = ['video/mp4'];
    //     const q = 1;
    //     const file = document.getElementById("aa").files;
    //     const chang = document.getElementById("chang");
    //     // const chang1 = document.getElementById("chang2");
    //     console.log(chang);
    //     console.log(file);
    //     for (let i = 0; i < file.length; i++) {
    //         if (fileTypes2.includes(file[i].type)) {
    //             chang.value += file[i].name;
    //         } else {
    //             // chang1.value = "l";
    //         }
    //     }
    // }
</script>
</html>